openapi: 3.0.3
x-aep-assumed: true
info:
  title: Uber Eats Marketplace API (assumed slice)
  version: "1.0.0"
  description: >-
    Assumed slice covering only the order-placement operation this design
    calls. Uber Eats' public developer documentation describes the Orders
    API from the MERCHANT side (accepting/denying an order Uber already
    created after a customer checks out on Uber Eats itself) — it does not
    publish a "place an order as a third-party app" operation, because
    ordering normally happens inside Uber's own storefront. This contract
    is written on the assumption that a partner-style order-creation
    endpoint exists with this shape; the auth flow (OAuth 2.0 client
    credentials), the exact request/response fields, and whether this
    operation is reachable without a signed partner agreement are all
    unverified. Confirm against Uber's Developer Portal once partner access
    is granted, and expect to revise this contract.
servers:
  - url: https://api.uber.com
security:
  - oAuth2ClientCredentials: []
paths:
  /v1/eats/orders:
    post:
      operationId: createOrder
      summary: Create a lunch order for a store on behalf of the signed-in Dieter
      x-aep-source: https://developer.uber.com/docs/eats/guides/order-integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created and forwarded to the store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid order request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid or missing access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/eats/orders/{orderId}:
    get:
      operationId: getOrder
      summary: Get the current status of a placed order
      x-aep-source: https://developer.uber.com/docs/eats/references/api/v1/get-eats-stores-storeid-createdorders
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.uber.com/oauth/v2/token
          scopes:
            eats.order: create and read orders on behalf of the integration
  schemas:
    CreateOrderRequest:
      type: object
      required: [storeId, items]
      properties:
        storeId:
          type: string
          description: Uber Eats store identifier for the restaurant
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        deliveryAddress:
          type: string
    OrderItem:
      type: object
      required: [name, quantity]
      properties:
        name: { type: string }
        quantity: { type: integer }
    Order:
      type: object
      required: [id, status]
      properties:
        id: { type: string }
        status:
          type: string
          enum: [created, accepted, denied, delivered]
    Error:
      type: object
      required: [code, message]
      properties:
        code: { type: integer }
        message: { type: string }
